h2{
    color: blue;
}
p{
    font-size: larger;
    font-family: 'Lucida Sans', 
    'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', 
    Geneva, Verdana, sans-serif;
}

body{background-color: chocolate;}